# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# .NET
*.dll
*.exe
*.pdb
*.cache
*.log
*.xml
*.json
*.config
*.csproj.user
*.dbmdl
*.jfm

# Rider
.idea/
*.sln.iml

# Logs
*.log
logs/

# OS-specific files
.DS_Store
Thumbs.db

# Secrets
secrets.json
*.key

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

# Temporary files
*.tmp
*.temp
~$*
